@model TCOMSapps.Features.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<br />
<h2>@ViewData["Title"]</h2>

<div class="row tcoms">
    <div class="card col-sm-12 col-md-5">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="alert-danger oos-border-danger"></div>
            <div class="form-group">

                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Register</button>

        </form>
        <br />
    </div>
</div>

@section Scripts {
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
