@using TCOMSapps.Services.AppSettings
@model AppSettings
@{ ViewData["Title"] = "EditAppSettings"; }
<br />
<h4>Application Settings</h4>
<br />
<div class="row">
  <div class="col-md-4">
    <form asp-action="EditAppSettings">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="Id" />
      <div class="form-group">
        <label asp-for="SmtpHost" class="control-label"></label>
        <input asp-for="SmtpHost" class="form-control" />
        <span asp-validation-for="SmtpHost" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="SmtpPort" class="control-label"></label>
        <input asp-for="SmtpPort" class="form-control" />
        <span asp-validation-for="SmtpPort" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
      <input hidden asp-for="Id" />
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

